body{
    text-align: center;
    background-color: #fff6e3;
}

.heading{
    font-style: normal;
    font-size: 3rem;
    font-family: "Dancing Script", cursive;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px black solid;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.C1{
    background-color: green;
}
.C2{
    background-color: blue;
}
.C3{
    background-color: red;
}
.C4{
    background-color: yellow;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}



.body{
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin: 0;
    text-align: center;
    width: 50%;
}